<h2>Service{{method=='POST' && '登録' || '編集'}}</h2>

<div class="panel-body">
   <a ui-sref="^"><button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-arrow-left">戻る</button></a>
</div>
<form name="serviceForm" class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputServiceId" class="col-sm-2 control-label">ID</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{service.id}}</div>
      <div ng-hide="detailMode">
        <input type="text" class="form-control" id="inputServiceId" placeholder="（例）Service ID" ng-model="service.id" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{service.name}}</div>
      <div ng-hide="detailMode">
        <input type="text" class="form-control" id="inputName" placeholder="（例）Service Name" ng-model="service.name" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputDesc" class="col-sm-2 control-label">Desc</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{service.desc}}</div>
      <div ng-hide="detailMode">
        <input type="text" class="form-control" id="inputDesc" placeholder="（例）AGENCY NAME" ng-model="service.desc" required>
      </div>
    </div>
  </div>

  <hr style="width:90%">

  <div ng-show="detailMode">
    <div ng-repeat="cal in calendars">
      <div class="form-group">
        <label class="col-sm-2 control-label"><span ng-show="$first">Calendar</span></label>
        <div class="col-sm-10">
          {{cal.startDate}} ～ {{cal.endDate}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <!-- TODO refactor -->
        <div class="col-sm-1">
          <label class="control-label padright">Sun:</label><span class="glyphicon glyphicon-ok" ng-show="cal.sunday == 1"></span>
        </div>
        <div class="col-sm-1">
          <label class="control-label padright">Mon:</label><span class="glyphicon glyphicon-ok" ng-show="cal.monday == 1"></span>
        </div>
        <div class="col-sm-1">
          <label class="control-label padright">Tue:</label><span class="glyphicon glyphicon-ok" ng-show="cal.tuesday == 1"></span>
        </div>
        <div class="col-sm-1">
          <label class="control-label padright">Wed:</label><span class="glyphicon glyphicon-ok" ng-show="cal.wednesday == 1"></span>
        </div>
        <div class="col-sm-1">
          <label class="control-label padright">Thu:</label><span class="glyphicon glyphicon-ok" ng-show="cal.thursday == 1"></span>
        </div>
        <div class="col-sm-1">
          <label class="control-label padright">Fri:</label><span class="glyphicon glyphicon-ok" ng-show="cal.friday == 1"></span>
        </div>
        <div class="col-sm-1">
          <label class="control-label padright">Sat:</label><span class="glyphicon glyphicon-ok" ng-show="cal.saturday == 1"></span>
        </div>
      </div>
    </div>
  </div>
  <div ng-hide="detailMode">
  <div ng-repeat="cal in calendars">
    <hr ng-show="!$first" style="width: 60%">
    <div class="form-group">
      <label class="col-sm-2 control-label"><span ng-show="$first">Calendar</span></label>
      <div class="col-sm-2">
        <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="cal.startDateType" is-open="cal.startCalOpened" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event, cal, 'startCalOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
      </div>
      <div class="col-sm-1" style="width: 3em;">～</div>
      <div class="col-sm-2">
        <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="cal.endDateType" is-open="cal.endCalOpened" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event, cal, 'endCalOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-xs btn-default glyphicon glyphicon-minus" ng-click="removeCalendar(cal)"></button>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <div class="btn-group">
        <label class="btn btn-default btn-group-btn" ng-model="cal.sundayTmp" btn-checkbox>Sun</label>
        <label class="btn btn-default btn-group-btn" ng-model="cal.mondayTmp" btn-checkbox>Mon</label>
        <label class="btn btn-default btn-group-btn" ng-model="cal.tuesdayTmp" btn-checkbox>Tue</label>
        <label class="btn btn-default btn-group-btn" ng-model="cal.wednesdayTmp" btn-checkbox>Wed</label>
        <label class="btn btn-default btn-group-btn" ng-model="cal.thursdayTmp" btn-checkbox>Thu</label>
        <label class="btn btn-default btn-group-btn" ng-model="cal.fridayTmp" btn-checkbox>Fri</label>
        <label class="btn btn-default btn-group-btn" ng-model="cal.saturdayTmp" btn-checkbox>Sat</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-default glyphicon glyphicon-plus" ng-click="addCalendar()">Add</button>
    </div>
  </div>
  </div>

  <hr style="width:90%">

  <div ng-show="detailMode">
    <div class="form-group" ng-repeat="cd in calendarDates">
      <hr ng-show="!$first" style="width: 60%">
      <div class="form-group">
        <label class="col-sm-2 control-label"><span ng-show="$first">Calendar date</span></label>
        <div class="col-sm-2">{{cd.date}}</div>
        <div class="col-sm-2">{{cd.exceptionType | exceptionType}}</div>
      </div>
    </div>
  </div>
  <div ng-hide="detailMode">
  <div class="form-group" ng-repeat="cd in calendarDates">
    <label class="col-sm-2 control-label"><span ng-show="$first">Calendar_date</span></label>
    <div class="col-sm-2">
      <p class="input-group">
      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="cd.dateType" is-open="cd.calOpened" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event, cd, 'calOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      </p>
    </div>
    <div class="col-sm-2">
      <div class="btn-group">
        <label ng-repeat="eType in exceptionTypes" class="btn btn-default btn-group-btn" ng-model="cd.exceptionType" btn-radio="eType.id">{{eType.name}}</label>
      </div>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-xs btn-default glyphicon glyphicon-minus" ng-click="removeCalendarDate(cd)"></button>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-default glyphicon glyphicon-plus" ng-click="addCalendarDate()">Add</button>
    </div>
  </div>
  </div>

  <hr style="width:90%">

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div ng-show="detailMode">
        <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-pencil" ng-click="detailMode=!detailMode">編集</button>
        <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-remove" ng-click="">削除</button>
      </div>
      <div ng-show="detailMode == false">
        <button type="submit" class="btn btn-primary btn-sm glyphicon glyphicon-save" ng-click="submit()">保存</button>
        <span ng-show="regMode == false">
          <button type="submit" class="btn btn-primary btn-sm glyphicon glyphicon-save" ng-click="detailMode=!detailMode">キャンセル</button>
        </span>
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
      <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
  </div>
</form>
<div class="panel-body">
   <a ui-sref="^"><button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-arrow-left">戻る</button></a>
</div>
