<h2><detail-label></detail-label> Terminal</h2>

<div class="panel-body">
   <a ui-sref="^"><button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-arrow-left">戻る</button></a>
</div>
<form name="terminalForm" class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputTerminalId" class="col-sm-2 control-label">ID</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{terminal.id}}</div>
      <div ng-hide="detailMode">
        <input type="text" class="form-control" id="inputTerminalId" placeholder="Terminal ID" ng-model="terminal.id" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputActive" class="col-sm-2 control-label">Active</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{terminal.active}}</div>
      <div ng-hide="detailMode">
        <input type="checkbox" id="inputActive" ng-model="terminal.active">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputCounterId" class="col-sm-2 control-label">CounterId</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{terminal.counterId}}</div>
      <div ng-hide="detailMode">
        <input type="text" class="form-control" id="inputCounterId" placeholder="（例）Counter ID" ng-model="terminal.counterId" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputDesc" class="col-sm-2 control-label">Desc</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{terminal.desc}}</div>
      <div ng-hide="detailMode">
        <input type="text" class="form-control" id="inputDesc" placeholder="（例）Desc" ng-model="terminal.desc" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputDeviceId" class="col-sm-2 control-label">DeviceId</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{terminal.deviceId}}</div>
      <div ng-hide="detailMode">
        <input type="text" class="form-control" id="inputDeviceId" placeholder="（例）Device ID" ng-model="terminal.deviceId" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputNumber" class="col-sm-2 control-label">Number</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{terminal.number}}</div>
      <div ng-hide="detailMode">
        <input type="text" class="form-control" id="inputNumber" placeholder="（例）Number" ng-model="terminal.number" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputOwner" class="col-sm-2 control-label">Owner</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{terminal.owner}}</div>
      <div ng-hide="detailMode">
        <input type="text" class="form-control" id="inputOwner" placeholder="（例）Owner" ng-model="terminal.owner" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputStatus" class="col-sm-2 control-label">Status</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{terminal.status}}</div>
      <div ng-hide="detailMode">
        <input type="number" class="form-control" id="inputStatus" placeholder="0" min="0" max="10" ng-model="terminal.status" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputTotalDays" class="col-sm-2 control-label">TotalDays</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{terminal.totalDays}}</div>
      <div ng-hide="detailMode">
        <input type="number" class="form-control" id="inputTotalDays" placeholder="0" min="0" ng-model="terminal.totalDays" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputTotalReport" class="col-sm-2 control-label">TotalReport</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{terminal.totalReport}}</div>
      <div ng-hide="detailMode">
        <input type="number" class="form-control" id="inputTotalReport" placeholder="0" min="0" ng-model="terminal.totalReport" required>
      </div>
    </div>
  </div>  <div class="form-group">
    <label for="inputTotalTrip" class="col-sm-2 control-label">TotalTrip</label>
    <div class="col-sm-10">
      <div ng-show="detailMode">{{terminal.totalTrip}}</div>
      <div ng-hide="detailMode">
        <input type="number" class="form-control" id="inputTotalTrip" placeholder="0" min="0" ng-model="terminal.totalTrip" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div ng-show="detailMode">
        <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-pencil" ng-click="detailMode=!detailMode">編集</button>
        <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-remove" ng-click="">削除</button>
      </div>
      <div ng-show="detailMode == false">
        <button type="submit" class="btn btn-primary btn-sm glyphicon glyphicon-save" ng-click="submit()">保存</button>
        <span ng-show="regMode == false">
          <button type="submit" class="btn btn-primary btn-sm glyphicon glyphicon-save" ng-click="detailMode=!detailMode">キャンセル</button>
        </span>
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
      <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
  </div>
</form>
<div class="panel-body">
   <a ui-sref="^"><button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-arrow-left">戻る</button></a>
</div>
