<div class="panel panel-default">
  <div class="panel-body">
    <a href="#/postStop"><button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-plus">追加</button></a>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <input type="text" class="form-control" name="searchCriteria" ng-model="searchCriteria" style="width:30%;display:inline;">
      <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-plus" ng-click="search();">検索</a>
    </div>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead style="background-color: #ddd">
        <th></th>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>Desc</th>
        <th>Lat</th>
        <th>Lon</th>
        <th>URL</th>
        <th>乗り場</th>
      </thead>
      <tbody ng-repeat="stop in stations">
        <tr class="selectable" ng-class-even="'even'">
          <td>
            <button type="button" class="btn btn-xs btn-default glyphicon" ng-class="{'glyphicon-chevron-right': !stop.expand, 'glyphicon-chevron-down': stop.expand}" ng-click="stop.expand = !stop.expand" ng-show="stop.locationType === 1"></button>
            <span class="glyphicon glyphicon-glass" ng-show="stop.locationType !== 1"></span>
          </td>
          <td ng-click="detail(stop.id)"></td>
          <td ng-click="detail(stop.id)">{{stop.id}}</td>
          <td ng-click="detail(stop.id)">{{stop.name}}</td>
          <td ng-click="detail(stop.id)">{{stop.desc | limitTo:20}} {{stop.desc.length > 20 ? '...' : ''}}</td>
          <td ng-click="detail(stop.id)">{{stop.lat}}</td>
          <td ng-click="detail(stop.id)">{{stop.lon}}</td>
          <td><a ng-href="{{stop.url}}">link</a></td>
          <td>
            <button type="button" class="btn btn-xs btn-default glyphicon glyphicon-plus" ng-show="stop.locationType === 1" ng-click="post(stop.id)"></button>
          </td>
        </tr>
        <tr ng-repeat="child in stop.children" class="selectable" ng-show="stop.expand" ng-click="detail(child.id)">
          <td></td>
          <td><span class="glyphicon glyphicon-glass" ng-show="child.locationType !== 1"></span></td>
          <td>{{child.id}}</td>
          <td>{{child.name}}</td>
          <td>{{child.desc | limitTo:20}} {{child.desc.length > 20 ? '...' : ''}}</td>
          <td>{{child.lat}}</td>
          <td>{{child.lon}}</td>
          <td><a ng-href="{{child.url}}">link</a></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-body">
    <a href="#/postStop"><button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-plus">追加</button></a>
  </div>
</div>
