<h2><detail-label></detail-label> Timetable</h2>

<div class="panel-body">
   <a ui-sref="^"><button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-arrow-left">戻る</button></a>
</div>
<form name="timetableForm" class="form-horizontal" role="form">
  <div class="panel-body" ng-if="gridOptions">
    <div class="gridStyle" ng-grid="gridOptions"></div>
  </div>

<div class="panel-body">
    <div classi="col-sm-offset-1 col-sm-10">
      <div ng-show="detailMode">
        <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-pencil" ng-click="detailMode=!detailMode">編集</button>
      </div>
      <div ng-show="detailMode == false">
        <button type="submit" class="btn btn-primary btn-sm glyphicon glyphicon-save" ng-click="submit()">保存</button>
        <button type="submit" class="btn btn-primary btn-sm glyphicon glyphicon-save" ng-click="detailMode=!detailMode">キャンセル</button>
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
      <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
  </div>
</form>
<div class="panel-body">
   <a ui-sref="^"><button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-arrow-left">戻る</button></a>
</div>
